.artists-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    .artists-list {
      grid-template-columns: 1fr 1fr;
    }
  }