.home {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.home-left {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--darker-gray);
}

.home .user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
  margin-top: 30px;
}

.home .user-item img {
  height: clamp(150px, 8vw, 200px);
  width: clamp(150px, 8vw, 200px);
  border-radius: 50%;
}

.home-right {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-right .display-search .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-right .display-search form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-right .display-search form input {
  height: 40px;
  width: 350px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  font-size: clamp(15px, 1.3vw, 20px);
  text-align: center;
  color: white;
}

.home-right .display-search form input:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.home-right .display-search button {
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  margin: 20px;
  color: white;
  font-weight: 700;
  font-size: clamp(12px, 1.1vw, 17px);
}

.home-right .display-search p {
  color: gray;
  font-size: clamp(12px, 1vw, 15px);
  padding: 20px;
  text-align: center;
}

.home-right .display-result {
  height: 100vh;
  width: 100%;
}

.home-right .display-result .match-header {
  background-image: linear-gradient(var(--light-purple), black);
  /* background-image: linear-gradient(var(--winner-gold), black); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30vh;
  min-height: 200px;
  width: auto;
}

.home-right .display-result .match-header .user-item img {
  width: clamp(100px, 6vw, 500px);
  height: clamp(100px, 6vw, 500px);
}

.home-right .display-result .match-header .match-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.home-right .display-result .match-header .match-percentage {
  color: white;
  font-size: clamp(20px, 3vw, 35px);
  margin-bottom: 0px;
}

.home-right .display-result .match-header .match-total {
  color: white;
  font-size: clamp(15px, 2vw, 20px);
}

.home-right .display-result .match-header button {
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  margin: 20px;
  color: white;
  font-weight: 700;
  font-size: clamp(14px, 1.1vw, 17px);
}

.home-right .display-result .match-body {
  margin-top: 10px;
  overflow-y: scroll;
  height: 65vh;
}

.home-right .display-result .match-body .track-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.home-right .display-result .match-body .song-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-right .display-result .match-body .song-item img {
  margin-top: 10px;
  height: clamp(100px, 6vw, 500px);
  width: clamp(100px, 6vw, 500px);
  border-radius: 5px;
}

.home-right .display-result .match-body .song-item .track-name {
  color: white;
  font-size: clamp(15px, 1vw, 18px);
  font-weight: 700;
  margin-bottom: 3px;
  max-width: 300px;
  text-align: center;
}

.home-right .display-result .match-body .song-item .track-artists {
  margin-top: 3px;
  color: white;
  font-size: clamp(12px, 0.8vw, 15px);
  max-width: 300px;
  text-align: center;
}

.home-right .display-result .match-body::-webkit-scrollbar {
  display: none; /* to hide scroll bar in Safari and Chrome */
}

@media only screen and (max-width: 800px) {
  .home-left {
    display: none;
    border: none;
  }

  .home-right .display-result .match-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-bottom: 30px;
  }

  .home-right .display-result .match-header .match-text {
    margin: 0px;
  }

  .home-right .display-result .match-body .track-list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1300px) {
  .home-right .display-result .match-body .track-list {
    grid-template-columns: 1fr 1fr;
  }
}

.home button:hover {
  background-color: var(--hover-color);
}

.home-right .display-result .match-header button:hover {
  background-color: var(--hover-color);
}
