.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-left {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--darker-gray);
}

.home .user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
}

.home .user-item img {
  height: clamp(65px, 7vw, 100px);
  width: clamp(65px, 7vw, 100px);
  border-radius: 50%;
}

.home .user-item .display-name {
  color: white;
  text-align: center;
  width: auto;
  margin-top: 5px;
}

.home-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-right .display-search {
  display: flex;
  flex-direction: column;
}

.home-right .display-search form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-right .display-search form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  color: white;
}

.home-right .display-search form input:focus {
  outline: none;
  border-bottom: 2px solid var(--hover-color);
}

.home-right .display-search button {
  color: white;
  border: none;
  margin-top: 25px;
  background-color: var(--button-color);
  border-radius: 10px;
}

.home-right .display-search p {
  color: gray;
  text-align: center;
  margin-top: 0px;
}

.home-right .display-result .match-header .user-item button {
  height: 100%;
  margin: 5px;
}

.home-right .display-result .match-header .user-item .display-name {
  color: white;
  text-align: center;
  font-size: clamp(17px, 0.9vw, 23px);
  width: 100%;
  margin: 0;
}

.home-right .display-result .match-header .match-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.home-right .display-result .match-header .match-percentage {
  color: white;
  font-size: clamp(20px, 3vw, 35px);
  margin-bottom: 0px;
}

.home-right .display-result .match-header button {
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  margin: 20px;
  color: white;
  font-weight: 700;
  font-size: clamp(14px, 1.1vw, 17px);
}

.home-right .display-result .match-body {
  color: white;
  padding: 20px 50px 20px 50px;
}

.home-right .display-result .match-body::-webkit-scrollbar {
  display: none;
}

.home-right .display-result .match-body .match-total {
  color:  var(--lightest-gray);
  font-size: clamp(12px, 0.9vw, 15px);
}

.home-right .display-result .genres-match {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
  .home-right .display-result .match-body .track-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 950px) {
  .home-left {
    display: none;
    border: none;
  }

  .home-right .display-result .match-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-bottom: 30px;
  }

  .home-right .display-result .match-header .match-text {
    margin: 0px;
  }
}

.home button:hover {
  background-color: var(--hover-color);
}

.home-right .display-result .match-header button:hover {
  background-color: var(--hover-color);
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
  }

  .home-right {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-right .display-search .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-right .display-search form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }
  
  .home-right .display-search form input {
    height: 30px;
    font-size: clamp(12px, 1vw, 18px);
  }

  .home-right .display-search p {
    font-size: clamp(12px, 1vw, 15px);
    padding: 5px;
    margin-top: 10px;
  }

  .home-right .display-search button {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    margin-top: 3vh;
    letter-spacing: 1px;
    font-size: clamp(12px, 1.4vw, 25px);
  }

  .home-right .display-result {
    height: 100%;
  }

  .home-right .display-result .match-header {
    height: 175px;
    margin-top: 20px;
  }

  .home-right .display-result .match-header button {
    font-size: clamp(12px, 1vw, 35px);
    padding: 8px 10px 8px 10px;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
  }

  .home-right {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-right .display-search .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-right .display-search form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;
  }
  
  .home-right .display-search form input {
    height: 30px;
    font-size: clamp(12px, 1.8vw, 18px);
  }

  .home-right .display-search p {
    font-size: clamp(12px, 1vw, 15px);
    padding: 5px;
    margin-top: 10px;
  }

  .home-right .display-search button {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    margin-top: 3vh;
    letter-spacing: 1px;
    font-size: clamp(12px, 1.2vw, 16px);
  }

  .home-right .display-result {
    height: 100%;
  }

  .home-right .display-result .match-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 30vh;
  }

  .home-right .display-result .match-header button {
    font-size: clamp(12px, 1vw, 35px);
    padding: 8px 12px 8px 12px;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .home {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: 100vh;
    }

    .home-left {
      height: 100%;
    }

    .home-right .display-result .match-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 30vh;
      margin-top: 20px;
    }
 }
 

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 