.login {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, var(--light-purple), black);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white;
}

.login h1 {
  font-size: clamp(35px, 5vw, 45px);
}

.login .success-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.login .success-login button {
  background-color: var(--button-color);
  color: white;
  font-size: clamp(15px, 0.8vw, 17px);
  font-weight: 700;
  width: 200px;
  height: 50px;
  border: none;
  padding: 5px 8px 5px 8px;
  border-radius: 2.5px;
}

.login .success-login button:hover {
  background-color: var(--hover-color);
}

.login .login-button .spotify-icon {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.login .login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  padding: 15px;
  border-radius: 15px;
}

.login .login-button:hover {
  color: #1ED760;
  border: solid 1px #1ED760;
}

.login .pre-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .pre-login-container button {
  border: none;
  background-color: transparent;
  color: white;
  margin-top: 40px;
  letter-spacing: 0.5px;
}

.login .pre-login-container button:hover {
  color: var(--spotify-green);
  border-bottom: 1px solid var(--spotify-green);
}