.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    margin-top: 25px;
}

@media only screen and (min-width: 500px) {
    .navbar {
        right: 0;
        justify-content: space-evenly;
        width: 500px;
    }
}

.navbar .navbar-item:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}