.profile-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
}

.profile::-webkit-scrollbar {
    display: none;
  }

.profile-items .user-dp {
    height: clamp(65px, 7vw, 100px);
    width: clamp(65px, 7vw, 100px);
    border-radius: 50%
}

.profile-items .favorite-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.profile-items .song-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-items h1 {
    border-bottom: 2px solid var(--darker-gray);
    text-align: center;
    padding-bottom: 20px;
    width: 300px;
}

.profile-items p {
    margin: 10px;
}

.profile-items .song-item .track-img {
    height: clamp(300px, 13vw, 500px);
    width: clamp(300px, 13vw, 500px);
}

.profile-items .form {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.profile-items .form button {
    width: 100px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
}

.profile-items .form button:hover {
    color: var(--hover-color);
}

.profile-items form input {
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    font-size: clamp(15px, 1.3vw, 20px);
    text-align: center;
    color: white;
    height: 40px;
    width: 350px;
}

.profile-items form input:focus {
    outline: none;
    border-bottom: 2px solid var(--hover-color);
  }

.profile-items .track-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-items .track-list-item {
    margin: 20px;
    color: white;
    background-color: transparent;
    border: none;
}

.profile-items .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    .profile-items .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-items .form input {
        width: 300px;
        font-size: 16px;
    }

    .profile-items .form button {
        width: 125px;
        margin-top: 25px;
        background-color: var(--spotify-green);
        height: 35px;
        border-radius: 10px;
    }
}