.profile-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
}

.profile::-webkit-scrollbar {
    display: none;
  }

.profile-items .user-dp {
    height: clamp(65px, 7vw, 100px);
    width: clamp(65px, 7vw, 100px);
    border-radius: 50%;
}

.profile-items .favorite-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.profile-items h1 {
    border-bottom: 2px solid var(--darker-gray);
    text-align: center;
    padding-bottom: 20px;
    width: 300px;
    font-size: clamp(12px, 1.7vw, 20px);
}

.profile-items p {
    margin: 10px;
}

.profile-items .form {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.profile-items .form button {
    color: white;
    border: none;
    margin-top: 25px;
    background-color: var(--spotify-green);
    border-radius: 10px;
}

.profile-items .form button:hover {
    color: var(--hover-color);
}

.profile-items form input {
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    text-align: center;
    color: white;
}

.profile-items form input:focus {
    outline: none;
    border-bottom: 2px solid var(--hover-color);
  }

.profile-items .track-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-items .track-list-item {
    margin: 20px;
    color: white;
    background-color: transparent;
    border: none;
}

.profile-items .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-items .section-header {
    color: var(--darker-gray);
}

@media only screen and (max-width: 500px) {
    .profile-items .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .profile {
        width: 100vw;
        overflow-x: hidden;
    }

    .profile .profile-items .form input {
        height: 30px;
        width: 200px;
        font-size: clamp(12px, 1vw, 18px);
    }   

    .profile-items .form button {
        border: none;
        border-radius: 5px;
        width: 120px;
        height: 35px;
        margin-top: 20px;
        color: white;
        letter-spacing: 1px;
        font-size: clamp(12px, 3vw, 35px);
    }

    .profile-items .section-header {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 